<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.one.my.oneapp">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.Camera"
                  android:required="true"
    />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".all.Timer"
                android:parentActivityName=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.RUN"/> -->
            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- &lt;!&ndash;todo what is it?&ndash;&gt; -->
            <!-- </intent-filter> -->
        </activity>
        <activity
                android:name=".TraningOfDay"
                android:label="@string/title_activity_main2"
                android:parentActivityName=".TraningOfDay"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="app.one.my.oneapp.MainActivity2"/>
        </activity>
        <activity android:name=".UpStairsTraining">
        </activity>
        <activity android:name=".CircleTraining">
        </activity>
        <activity android:name=".ExercisesTraining">
        </activity>
        <activity android:name=".DataTime">
        </activity>
        <activity android:name=".MakePhoto">
        </activity>
        <activity android:name=".CalendarOfTraining">
        </activity>
        <activity android:name=".TimerActivity">
        </activity>
        <activity android:name=".ExercisesTrainingProcess">
        </activity>



        <!--<activity-->
                <!--android:name=".Main2Activity"-->
                <!--android:label="@string/title_activity_main2">-->
        <!--</activity>-->
    </application>

</manifest>